* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top {
    display: flex;
    background-color: rgba(236, 255, 166, 0.568);
    height: 45px;
    width: 100%;
}

.top p {
    padding-left: 14px;
    margin: 12px 0 0;
    color: rgb(117, 189, 248);
    font-size: 15px;
}

span img {
    width: 14px;
    height: 25px;
    margin: 8px 0 0 15px;
}

h1 {
    color: #326ce7;
    font-size: 22px;
    text-align: center;
    padding: 5px;
    margin-top: 2px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 6px 0 0 2.5%;
    border-radius: .3em;
    color: white;
    font-size: 14px;
    background-color: rgba(211, 211, 211, 0.294);
    border: 1px solid grey;
}

.login {
    background-color: #326ce7;
    font-size: 16px;
    margin-top: 12px;
}

.line {
    height: 12px;
    width: 45%;
    border-top: 2px solid rgba(211, 211, 211, 0.651);
    margin: 15px;
}

.or {
    display: flex;
    margin-top: 20px;
}

.line span {
    padding: 0 40px;
}

.create {
    background-color: rgb(57, 155, 33);
    width: 28%;
    display: block;
    margin: 0 auto;
    font-weight: 700;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(75, 168, 245);
}

.forgot a{
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 38% 60px;
}

ul {
    list-style-type: none;
}

.links {
    width: 80%;
    margin: 0 auto;
}

.links ul li a{
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul li {
    display: inline;
    margin: 0 auto;
}
nav ul li a {
    color: lightgrey;
    font-size: 12px;
}
